@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}
#wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(185, 75%, 39%);
    background-image: url(./images/bg-pattern-top.svg), 
                      url(./images/bg-pattern-bottom.svg);
    background-position: -320px -560px,
                         620px 320px;
    background-repeat: no-repeat;
}

#main {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border-radius: 1rem;
    background: white;
    text-align: center;
}

#main > .inner {
    position: relative;
    max-width: 100%;
    width: 320px;
    padding: 0;
}
.image {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 120px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: block;
    background: url('./images/bg-pattern-card.svg');
}

.frame {
    max-width: 100%;   
}

img {
    max-width: 100%;
    margin: 60px auto -50px auto;
    border-radius: 50%;
    border: 5px solid hsl(0, 0%, 100%);
}

h1 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 0;
}

h1 span {
    color: hsl(0, 0%, 59%);
}

p {
    color: hsl(0, 0%, 59%);
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
}

hr {
    border: none;
    border-top: 1px solid hsl(0, 0%, 59%);
    margin-top: 25px;
}

.stats ul {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    max-width: 100%;  
    padding-left: 0;
    
}

li .item {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    margin-bottom: 8px;
}

.stats-number {
    font-size: 18px;
    font-weight: 700;
}

.label {
    color: hsl(0, 0%, 59%);
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: 2px;
}

/* Breakpoint */
@media only screen and (max-width: 767px) {
    #wrapper {
        background-position: 125% -500px,
                              150px 350px;
    }
}



